body{
    background: green;
    width: 950px;
    height: 600px;
    margin: 0   ;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bg-box {
    position: relative;
    width: 800px;
    height: 500px;
    background-image: url(./dom.webp) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 250px;
    top: 100px;
}

.bg-box::before{
    content: "............................................................................................................";
    position: absolute;
    background-image: url(./lamp.png);
    background-size: contain;
    background-repeat: repeat-x;
            
}
.bg-box::after{
    position: absolute;
    content: "sdddddddddddddd";
    background-image: url(./ej.webp);
    background-size: contain;
    background-repeat: repeat-y;
    top: 5px;
    right : 111px;
    width: 30px;
    height: calc(106% - 40px);
border: 5px solid red;
 
}
.bg-box::after{
    position: absolute;
    content: "";
    background-image: url(./ponchik.png);
    background-size: contain;
    background-repeat: repeat-y;
    top: 5px;
    left: 760px;
    width: 30px;
    height: calc(106% - 40px);
    
    /* border-image: url(./ponchik.png) 30 repeat;
    border-width: 30px; */

}
/* .bg-box:first-child{
    content: "2333333333333 ";
    position: absolute;

    height: 100px;
    background-image: url(./green.png);
    background-repeat: repeat-x;
    background-size: contain;
}
 */
